
// Copyright 2016 Platina Systems, Inc. All rights reserved.
// Use of this source code is governed by a BSD-style
// license that can be found in the LICENSE file.

{{/* -*- mode: Go -*- */}}

{{if ne .TAGS ""}}
// +build {{.TAGS}}
{{end}}

package {{.Package}}

import (
	"github.com/platinasystems/go/elib"
	"github.com/platinasystems/go/elib/hw"

	"unsafe"
	"reflect"
)

type {{.VecType}} []{{.Type}}

func fromByteSlice_{{.Type}}(b []byte, l, c uint) (x {{.VecType}}) {
	s := uint(unsafe.Sizeof(x[0]))
	if l == 0 {
		l = uint(len(b)) / s
		c = uint(cap(b))
	}
	return *(*{{.VecType}})(unsafe.Pointer(&reflect.SliceHeader{
		Data: uintptr(unsafe.Pointer(&b[0])),
		Len:  int(l),
		Cap:  int(c / s),
	}))
}

func (x {{.VecType}}) toByteSlice() []byte {
	l := uint(len(x))
	l *= uint(unsafe.Sizeof(x[0]))
	return *(*[]byte)(unsafe.Pointer(&reflect.SliceHeader{
		Data: uintptr(unsafe.Pointer(&x[0])),
		Len:  int(l),
		Cap:  int(l)}))
}

func {{.Type}}AllocAligned(n,a uint) (x {{.VecType}}, id elib.Index) {
	var b []byte
	var c uint
	b, id, _, c = hw.DmaAllocAligned(n * uint(unsafe.Sizeof(x[0])), a)
	x = fromByteSlice_{{.Type}}(b, n, c)
	return
}

func {{.Type}}Alloc(n uint) (x {{.VecType}}, id elib.Index) { return {{.Type}}AllocAligned(n,0) }

func {{.Type}}New() (x {{.VecType}}, id elib.Index) { return {{.Type}}Alloc(1) }

func (x *{{.VecType}}) Free(id elib.Index) {
	hw.DmaFree(id)
	*x = nil
}

func (x *{{.VecType}}) Get(id elib.Index) {
	*x = fromByteSlice_{{.Type}} (hw.DmaGetData(id), 0, 0)
}

func (x *{{.Type}}) PhysAddress() uintptr {
	return hw.DmaPhysAddress(uintptr(unsafe.Pointer(x)))
}
