ports:
- name: eth-1-1
  speed: 100g
  lanes: 4
  count: 1

#10G CR fec=none
- name: eth-2-1
  speed: 10g
  lanes: 1
  count: 4

- name: eth-3-1
  speed: 100g
  lanes: 4
  count: 1

#10G CR fec=none
- name: eth-4-1
  speed: 10g
  lanes: 1
  count: 4

- name: eth-5-1
  speed: 100g
  lanes: 4
  count: 1

#10G CR fec=none
- name: eth-6-1
  speed: 10g
  lanes: 1
  count: 4

- name: eth-7-1
  speed: 100g
  lanes: 4
  count: 1

#10G CR fec=none
- name: eth-8-1
  speed: 10g
  lanes: 1
  count: 4

- name: eth-9-1
  speed: 100g
  lanes: 4
  count: 1

#10G CR fec=none
- name: eth-10-1
  speed: 10g
  lanes: 1
  count: 4

- name: eth-11-1
  speed: 100g
  lanes: 4
  count: 1

#10G CR fec=none
- name: eth-12-1
  speed: 10g
  lanes: 1
  count: 4

- name: eth-13-1
  speed: 100g
  lanes: 4
  count: 1

#10G CR fec=none
- name: eth-14-1
  speed: 10g
  lanes: 1
  count: 4

- name: eth-15-1
  speed: 100g
  lanes: 4
  count: 1

#10G CR fec=none
- name: eth-16-1
  speed: 10g
  lanes: 1
  count: 4

#for rest of the interfaces
- name: eth-17-1
  speed: 100g
  lanes: 4
  count: 16
