!
!
!
!
hostname ospfd
password zebra
!
!
!
interface eth-{{ interface1 }}-{{ subport }}
!
interface eth-{{ interface2 }}-{{ subport }}
!
interface eth-{{ interface3 }}-{{ subport }}
!
interface eth-{{ interface4 }}-{{ subport }}
!
router ospf
 ospf router-id {{ ansible_ssh_host }}
 log-adjacency-changes
 redistribute connected
 network 10.{{ interface1 }}.{{ subport }}.0/24 area 0.0.0.0
 network 10.{{ interface2 }}.{{ subport }}.0/24 area 0.0.0.0
 network 10.{{ interface3 }}.{{ subport }}.0/24 area 0.0.0.0
 network 10.{{ interface4 }}.{{ subport }}.0/24 area 0.0.0.0
!
line vty
!

