!
!
!
!
hostname {{ container_name }}
password zebra
!
interface eth-{{ interface1 }}-{{ subport }}
 ipv6 nd suppress-ra
!
interface eth-{{ interface2 }}-{{ subport }}
 ipv6 nd suppress-ra
!
interface eth-{{ interface3 }}-{{ subport }}
 ipv6 nd suppress-ra
!
interface eth-{{ interface4 }}-{{ subport }}
 ipv6 nd suppress-ra
!
interface lo
 link-detect
!
ip forwarding
!
!
line vty
!
