!
!
!
!
hostname {{ container_name }}
password zebra
!
interface eth-{{ interface1 }}-1
 ipv6 nd suppress-ra
!
interface eth-{{ interface2 }}-1
 ipv6 nd suppress-ra
!
interface eth-{{ interface3 }}-1
 ipv6 nd suppress-ra
!
interface eth-{{ interface4 }}-1
 ipv6 nd suppress-ra
!
interface lo
 link-detect
!
ip forwarding
!
!
line vty
!
