*.orig
*.rej
*.so
*.swp
*.test
*.zip
*~
*#*#
/goes-*
/*-example
/v2/goes-*
/v2/*-example
/tlsx
/v2/tlsx
/*.patch
/debian/debhelper-build-stamp
/debian/files
/debian/goes-completion.substvars
/debian/goes-completion/
