*.orig
*.rej
*.so
*.swp
*.test
*.zip
*~
*#*#
/goes-*
/*.patch
/main/ip/ip
/main/goes-coreboot/goes-coreboot
/main/goes-example/goes-example
/main/goes-example/goes-example-arm
/main/goes-platina-mk1/goes-platina-mk1
/main/goes-platina-mk1/goes-platina-mk1-installer
/main/goes-platina-mk1/go-wip
/main/goes-platina-mk1-bmc/goes-platina-mk1-bmc
/main/goes-platina-mk2-lc1-bmc/goes-platina-mk2-lc1-bmc
/main/goes-platina-mk2-mc1-bmc/goes-platina-mk2-mc1-bmc
