*.orig
*.pem
*.rej
*.so
*.swp
*.test
*.zip
*~
*#*#
_cgo_.o
/*.patch
/goes
/ifconfig
/log-style
/netstat
/pty
/rawtty
/route
/textembedder
/tlsx
/tuntap
/debian/debhelper-build-stamp
/debian/files
/debian/goes-completion.substvars
/debian/goes-completion/
