
// Copyright 2016 Platina Systems, Inc. All rights reserved.
// Use of this source code is governed by a BSD-style
// license that can be found in the LICENSE file.

{{/* -*- mode: Go -*- */}}

{{if ne .TAGS ""}}
// +build {{.TAGS}}
{{end}}

{{define "elib"}}{{if ne . "elib"}}elib.{{end}}{{end}}

package {{.Package}}

{{if ne .Package "elib"}}
import (
	"github.com/platinasystems/go/elib"
)
{{end}}

type {{.VecType}} []{{.Type}}

func (p * {{.VecType}}) Resize(n uint) {
	c := uint(cap(*p))
	l := uint(len(*p)) + n
	if l > c {
		c = {{template "elib" .Package}}NextResizeCap(l)
		q := make([]{{.Type}}, l, c)
		copy(q, *p)
		*p = q
	}
	*p = (*p)[:l]
}

func (p * {{.VecType}}) validate(new_len uint, zero {{.Type}}) *{{.Type}} {
	c := uint(cap(*p))
	lʹ := uint(len(*p))
	l := new_len
	if l <= c {
		// Need to reslice to larger length?
		if l > lʹ {
			*p = (*p)[:l]
			for i := lʹ; i < l; i++ { (*p)[i] = zero }
		}
		return &(*p)[l-1]
	}
	return p.validateSlowPath(zero, c, l, lʹ)
}

func (p * {{.VecType}}) validateSlowPath(zero {{.Type}}, c, l, lʹ uint) *{{.Type}} {
	if l > c {
		cNext := {{template "elib" .Package}}NextResizeCap(l)
		q := make([]{{.Type}}, cNext, cNext)
		copy(q, *p)
		for i := c; i < cNext; i++ {
			q[i] = zero
		}
		*p = q[:l]
	}
	if l > lʹ {
		*p = (*p)[:l]
	}
	return &(*p)[l-1]
}

func (p * {{.VecType}}) Validate(i uint) *{{.Type}} {
	var zero {{.Type}}
	return p.validate(i+1, zero)
}

func (p * {{.VecType}}) ValidateInit(i uint, zero {{.Type}}) *{{.Type}} {
	return p.validate(i+1, zero)
}

func (p * {{.VecType}}) ValidateLen(l uint) (v *{{.Type}}) {
	if l > 0 {
	var zero {{.Type}}
		v = p.validate(l, zero)
	}
	return
}

func (p * {{.VecType}}) ValidateLenInit(l uint, zero {{.Type}}) (v *{{.Type}}) {
	if l > 0 {
		v = p.validate(l, zero)
	}
	return
}

func (p * {{.VecType}}) ResetLen() {
	if *p != nil {
		*p = (*p)[:0]
	}
}

func (p {{.VecType}}) Len() uint { return uint(len(p)) }
