routers:
- hostname: R1
  image: "stigt/debian-dhcpc:latest"
  cmd: "/root/startup.sh"
  intfs:
  - name: {{index . "net0port0"}}
    address: 192.168.120.5/24
- hostname: R2
  image: "stigt/debian-dhcps:latest"
  cmd: "/root/startup.sh"
  intfs:
  - name: {{index . "net0port1"}}
    address: 192.168.120.10/24
