volume: "/testdata/frr/isis/"
mapping: "/etc/frr"
routers:
- hostname: R1
  image: "stigt/debian-frr:latest"
  cmd: "/root/startup.sh"
  intfs:
  - name: {{index . "net2port1"}}
    address: 192.168.120.5/24
  - name: {{index . "net0port0"}}
    address: 192.168.150.5/24
- hostname: R2
  image: "stigt/debian-frr:latest"
  cmd: "/root/startup.sh"
  intfs:
  - name: {{index . "net2port0"}}
    address: 192.168.120.10/24
  - name: {{index . "net1port0"}}
    address: 192.168.222.10/24
- hostname: R3
  image: "stigt/debian-frr:latest"
  cmd: "/root/startup.sh"
  intfs:
  - name: {{index . "net3port0"}}
    address: 192.168.111.2/24
  - name: {{index . "net1port1"}}
    address: 192.168.222.2/24
- hostname: R4
  image: "stigt/debian-frr:latest"
  cmd: "/root/startup.sh"
  intfs:
  - name: {{index . "net3port1"}}
    address: 192.168.111.4/24
  - name: {{index . "net0port1"}}
    address: 192.168.150.4/24
