
// Copyright 2016 Platina Systems, Inc. All rights reserved.
// Use of this source code is governed by a BSD-style
// license that can be found in the LICENSE file.

{{/* -*- mode: Go -*- */}}

{{define "elog"}}{{if ne . "elog"}}elog.{{end}}{{end}}

package {{.Package}}

import (
{{if ne .Package "elog"}}
	"github.com/platinasystems/go/elib/elog"
{{end}}
)

var {{.Type}}Type = &{{template "elog" .Package}}EventType{
	Name: "{{.Package}}.{{.Type}}",
}

func init() {
	t := {{.Type}}Type
	t.Strings = stringer_{{.Type}}
	t.Encode = encode_{{.Type}}
	t.Decode = decode_{{.Type}}
	{{template "elog" .Package}}RegisterType({{.Type}}Type)
}

func stringer_{{.Type}}(t *{{template "elog" .Package}}EventType, e *{{template "elog" .Package}}Event) []string {
	var x {{.Type}}
	x.Decode(e.Data[:])
	return x.Strings()
}

func encode_{{.Type}}(b []byte, e *{{template "elog" .Package}}Event) int {
	var x {{.Type}}
	x.Decode(e.Data[:])
	return x.Encode(b)
}

func decode_{{.Type}}(b []byte, e *{{template "elog" .Package}}Event) int {
	var x {{.Type}}
	x.Decode(b)
	return x.Encode(e.Data[:])
}

func (x {{.Type}}) Log() { x.Logb({{template "elog" .Package}}DefaultBuffer) }

func (x {{.Type}}) Logb(b *{{template "elog" .Package}}Buffer) {
	e := b.Add({{.Type}}Type)
	x.Encode(e.Data[:])
}
