
// Copyright 2016 Platina Systems, Inc. All rights reserved.
// Use of this source code is governed by a BSD-style
// license that can be found in the LICENSE file.

{{/* -*- mode: Go -*- */}}

{{if ne .TAGS ""}}
// +build {{.TAGS}}
{{end}}

package {{.Package}}

import (
	"github.com/platinasystems/go/elib/dep"
)

type {{.DepsType}} struct {
	deps dep.Deps
	{{.Data}} []{{.Type}}
}

func (t *{{.DepsType}}) Len() int {
	return t.deps.Len()
}

func (t *{{.DepsType}}) Get(i int) {{.Type}} {
	return t.{{.Data}}[t.deps.Index(i)]
}

func (t *{{.DepsType}}) Add(x {{.Type}}, ds ...*dep.Dep) {
	if len(ds) == 0 {
		t.deps.Add(&dep.Dep{})
	} else {
		t.deps.Add(ds[0])
	}
	t.{{.Data}} = append(t.{{.Data}}, x)
}
